/* standard css styling for app from react */

html { 
  background: url(https://images.unsplash.com/photo-1518972559570-7cc1309f3229?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaWMlMjBzdHVkaW98ZW58MHx8MHx8&w=1000&q=80) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* filter: blur(8px) */
}

.App {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav bar */

body{
  font-family: helvetica;
}

.navbar {
  /* display: flex;
  grid-template: "a a a a" 10vh; */
  background-color: transparent;
}

.navbar-header{
  display: flex;
  justify-content: center;
  color: blue
}

.navbar-links{
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

.navbar-links > a{
  color: #c8c4c3;
}

.navbar-links > a:active{
  color:pink;
}

.navbar-header > h1 {
  font-size: 40px;
  color: #01d1f6;
}

/* home page */

.welcome-home-page{
  color: #01d1f6;
  margin-top: 15px;
  display: flex;
  justify-content: center
}

.welcome-future {
  display: flex;
  justify-content: center;
  color: #c8c4c3;
}

.welcome-log-in{
  display: flex;
  justify-content: center;
  color: #c8c4c3;
}

form {
  display: flex;
  justify-content: center;
  color: #c8c4c3;
  padding: 2em;
}

.form{
  padding-top: 6em;
}

.logout-div {
  text-align: center;
}


/* added styling for Homepage */

.hp-image{
  color:white
}

.kit-selection{
  color:white
}

.form{
  color:white
}

.your-kit-sounds{
  color: white;
  /* padding: 3em; */
}

.homepage {
  display: flex;
  /* grid-template:
    "a a" 45vh
    "b b" 45vh; */
  background-color: #8c8d8f;
}

.recordz {
    justify-content: center;
    height: 35%;
    width: auto;
}

  .img_hold {
    margin: auto;
    display: flex;
    justify-content: center;
  }


  /* styling for kitsdisplay */
  .kit-selection > h1{
    color:#01d1f6
  }

  .form-signup{

  }

.your-kit-sounds > h2{
  color: #01d1f6
}

  
  /* .homepage {
  display: grid;
  grid-template:
    "a a" 45vh
    "b b" 45vh;
  background-color: #8c8d8f; */


/* grid-template:
    "a a a" 40vh 40vw
    "b c c" 30vh
    "b c c" 15vh
    "b c c" 15vh; */

/* Log out button centered */
.logout-bttn{
  border: none;
  color: black;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: center;
  border-radius: .5em
}

    
    .submission-form{
      max-width:500px;
      margin:2rem auto;
      border:2px solid #E74C3C;
      padding:2rem;
      border-radius:5px;
      /* label:{
        display: block;
        padding: 1rem 0 .25rem;
        text-transform:uppercase;
        font-size:14px;
      }
      input, textarea{
        display:block;
        width:100%;
        border:2px solid #2980B9;
        padding:.5rem;
        font-size:18px;
        border-radius:5px;
      } */
    }
    
    .sendBtn{
      border:0;
      background:#343050;
      padding:.5rem;
      color:white;
      margin:1rem 0;
      width:auto;
      text-transform:uppercase;
      cursor:pointer;
      transition:.3s background ease;
      /* &:hover{
        background:#3498DB;
      } */
  }


    /* here's my Matt code */
.overall-div{
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}


.kit-selection{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* display: flex;
  align-items: ; */
  /* height: 100vh; */

  /* grid-template: */
    /* "a a" 45vh  */
}

.kit-maker{
  width: 50%;
  height: 100%;
  float: right;
}

.sounds-container {
  /* background-color: #8c8d8f; */
  align-items: center;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* width: 50vw;
  height: 50vh; */
  display: flex;
  flex-wrap: wrap;
}

.sounds-display {
  background-color:#d2c8bc;;
  /* width: 50vw;
  height: 50vh; */
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(243, 244, 246, 0.5);
  margin-bottom: 10px;
}

.each-sound {
  border: 2px solid #c8c4c3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  box-shadow: 0 5px 5px rgba(0, 162, 255, 0.5);
  height: 7vh;
  width: 7vw;
  padding: 10px;
  margin: auto;
}

.check-out-beats {
  color:#01d1f6
}

.submit-button{
  background-color: #c8c4c3;
  border: none;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 2px 20px rgba(0, 162, 255, 0.5);
  color: white;
}

.profile-card{
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 35vw;
  /* background-color: #c2b1e6; */
  background-color: #c8c4c3;
  /* filter: blur(8px); */
  /* z-index: -1000; */
  /* filter: blur(8px); */
  opacity: 0.97;
  border-radius: 25px;
  text-emphasis-color: #BAABDA;
  /* color: hotpink; */
  /* display: flex; */
  /* margin: auto; */
  /* justify-content: center; */
}

.welcome-card{
  color:  #6b6a6a;
  text-align: center;
  /* justify-content: center; */
}

.profile-card-container{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  border-style: solid;
  border-color: #01d1f6;
  border-radius: 25px;
  width: 35.5vw;
  margin-top: 10vh;
}

.profile-pic {
  width: 30vh;
  height: 30vh;
  padding: 5px;
  object-fit: cover;
  border-radius: 25px;
  justify-content: center;
}

.profile-pic-holder {
  display: flex;
  justify-content: center;
}

.kit-card{
  margin-bottom: 5vh;
}

.logout-class {
  /* display: flex; */
  justify-content: center;
}

.logout-header{
  color: white;
  display: flex;
  justify-content: center;
}

.logout-button{
  background-color: #c8c4c3;
  border: none;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 2px 20px rgba(0, 162, 255, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* .profile-card-split{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
} */

.review-header-holder{
  /* justify-content: center; */
  display: flex;
  justify-content: center;
}

.login-div{
  margin-top: 10vh;
}

.login-below{
  text-align: center;
  color: #c8c4c3;
}

.display-kit{
  opacity: 0;
}

.kit-header{
  /* text-align: center; */
  color: #01d1f6;
}

.home-page-div{
  margin-top: 10vh;
}